/*font-family: 'Roboto Condensed', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 8px;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem;
    color: aliceblue;
    line-height: 2.0;
    text-align: center;
    background-color: #333;
}

a{
    text-decoration: none;
}

.clearfix{
    content: '';
    display: block;
    clear: both;
}

p{
    padding: 1.6rem 0;
    font-size: 2rem;
}

img{
    width: 100%;
    height: auto;
}

header{
    height: 45rem;
}

header .bg-im{
    position: absolute;
    background-image: url(bg.png);
    height: 45rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
}

header h1{
    padding: 11rem;
    padding-bottom: 0;
    
}

.error{
    background-color: red;
    padding: 1.6rem 3.2rem;
    margin: 3rem;
}

#panelbtn{
    margin: 0 auto;
    width: 6rem;
    height: 4rem;
    text-align: center;

}



.btn{
    background-color: #333;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;
    display: inline-block;
    color: #fff; 
    transition: 0.3s;
    
}

.btn:hover{
    background-color: #eaeaea;
    color: #333;
}


#section-a{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}


#section-b{
    padding: 2rem;
}

#section-b ul{
    list-style: none;
    
}

#section-b li{
    background-color: #fff;
    color: #333;
    margin: 1.5rem 0;
}

.col-content{
    padding: 1.2rem;
    text-align: center;
}

#section-c{
    background-color: #eaeaea;
    color:#333;
    padding: 5rem;
}

section-d .box{
    padding: 5rem;
}

#section-d .box:first-child{
    background-color: cornflowerblue;
}

footer{
    line-height: normal;
    padding: 4rem;
    background: #000;
}

footer a{
    color:darkslateblue;
}

@media screen and (min-width:800px){
    html{
        font-size: 10px;
    }
}

@media screen and (min-width:1200px){
    html{
        font-size: 12px;
    }
    
    #section-b li{
        width: 30%;
        margin: 1%;
        display: inline-block;
    }
    .box{
        width:50%;
        float: left;
        line-height: normal;
        padding: 1rem;
    }
    
}





















