<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html lang="en">
<head>
    {% block head %}
   <meta name="viewport" content="width=device-width,initial-scale=1">  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
    <meta charset="UTF-8">
    <title>Yazılar</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='poststyle.css') }}">
    
    {% endblock %}
</head>
{% block content %}
    <body>

        
        
        <header>
            
            <div class="bg-im"></div>
            <div class="content">
                <h1>Blogumsu siteme hoşgeldiniz</h1>
                <p>Canımın istediklerinden bahsettiğim öylesine basit bir site</p>
                <a href="{{url_for('home')}}" class="btn">Ana ekrana dön</a>
            </div>
            
        </header>
        <main>
            <section id="section-a">
                <div class="content">
                    <h2>Yazılar</h2>
                    <p>Çok bi şey bekleme</p>
                </div>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-content"><a href="{{url_for('post', url = post['post_url'])}}"><h3 class="col-title">
                        {{ post["post_title"] }}
                    </h3></a>
                    <p>{{ post["post_preview"] }}</p></div>
                    {% endfor %}
                </div>
            </section>
            
           
            
            <section id="section-d" class='clearfix'>
                <div class="box">
                    <h2 class="content-title">İletişim</h2>
                    <p>İrtibata geçmek için</p>
                    <p>E-mail: dorukaras30@gmail.com</p>
                    <p>Instagram: @doruk_ars</p>
                </div>
                <div class="box">
                    <h2 class="content-title">Site Hakkında</h2>
                    <p>Bu site tamamen şahsım tarafından yazılmıştır tüm hakları bana aittir. Gerekli ise iletişim bilgilerim sitede yer almaktadır. İyi günler.</p>
                </div>            
            </section>
        </main>
        <footer>

            <p class = "py-5 bg-dark text-white text-center"> Copyright @ Doruk Aras 2021 </p>

        </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    
    
    </body>
    {% endblock %}  
</html>